body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl,
dd,
p,
input,
select,
textarea,
td,
tr {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";

}

ul,
ol {
	list-style: none;
}

body {
	height: 100%;
	/* position: relative; */
}

img {
	border: 0;
}

#globalHeader {
	position: fixed;
	z-index: 99;


}

.headerWrap {
	background: #fff;
	width: 1000px;
	position: relative;
	z-index: 99;



}

#menuBox {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	top: 70px;


}

#menu {
	background: #f9f9f9;
	width: 1000px;

	display: flex;
	justify-content: flex-end;
	height: 35px;
	padding-top: 9px;
	border-bottom: .5px solid #b2b2b2;
	position: fixed;
	z-index: 99;

}

#menu .iconfont {
	font-size: 26px;
	color: #3e3e3e;
	margin-right: 20px;
	width: 26px;
	z-index: 2;

}

#menu #app {
	/* margin-left: 15px; */
	margin-right: 5px;
	font-size: 10px;
	line-height: 26px;
	color: #7f0019;
	position: relative;
	z-index: 2;

}

#menu #login {
	height: 16px;
	width: 62px;
	padding: 4px 6px;
	border: 1px solid #7f0019;
	border-radius: 12px;
	font-size: 10px;
	line-height: 16px;
	color: #7f0019;
	font-weight: 300;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 2;

}

#user_img {
	/* display: block; */
	position: absolute;
	right: 66px;
	top: 7px;
}

#user_img img {
	width: 30px;
	position: absolute;
}




#exit {
	position: relative;
	width: 130px;
	height: 40px;
	background: #fff;
	/* display: block; */
	box-sizing: border-box;
	padding: 10px;
	text-indent: 14px;
    font-size: 14px;
    color: #3e3e3e;
}

#account {
	position: relative;
	width: 130px;
	height: 40px;
	background: #fff;
	/* display: block; */
	box-sizing: border-box;
	border-bottom: 1px dashed #999;
	padding: 10px;
	text-indent: 14px;
    font-size: 14px;
    color: #7f0019;
}

#divbox1 {

	right: -11px;
	top: 20px;
}

#divbox {
	
	right: 17px;
	top: 24.5px;
}

#accountbox {
	position: absolute;
	width: 130px;
	height: 80px;
	/* background: hotpink; */
	top: 44px;
	right: 10px;
	border: 1px solid #b2b2b2;
	border-top: 0px;
	display: flex;
    flex-direction: column;
	
}





/* banner */
#top_box {
	position: relative;
	/* background: red; */
}

.banner {
	width: 1000px;
	position: relative;


}

.banner img {
	width: 1000px;
	position: relative;
	top: 114.5px;


}

.swiper-container {
	position: relative;
	width: 1000px;
	height: 500px;
	background: red;
	top: 115px;

}

/* .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;

} */

.swiper-slide img {
	width: 1000px;
	height: 500px;
	position: relative;

}



.swiper-pagination span {
	background: #585858;
}


.swiper-button-white {
	background: #eee;
	opacity: 0;
	transition: all 0.5s;

}


.swiper-container:hover .swiper-button-white {
	opacity: 1;



}





/* NewArrivals */
#NewArrivals {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	top: 70px;
	padding-top: 20px;
	/* background: red; */
}

.h1Text h1 {
	/* margin-top: 70px; */
	font-size: 16px;
	line-height: 22px;
	color: #000;
	letter-spacing: 2.4px;
	font-weight: 800;
}

.h1Text h1 span {
	font-size: 14px;
	float: right;
	font-weight: 100;
}

.h1Text h1 span a {
	color: #60b3fa;

}

#NewArrivals .list {
	display: flex;
	height: 178px;
	overflow: hidden;
}

#NewArrivals .list img {
	width: 110px;
	height: 110px;
}

#NewArrivals .list .btnBox {
	display: flex;
	z-index: 2;
}

#NewArrivals .list .contentBox {
	display: flex;

}

#NewArrivals .list .btns {
	margin-right: 0px;

}

#NewArrivals .list .btns img {
	position: relative;
	width: 37px;
	height: 110px;
}

#NewArrivals .list a {
	padding: 20px 0px;
	margin-right: 12px;
}

#NewArrivals .list span {
	font-size: 12px;
	color: black;
}

#NewArrivals .list #price {
	font-size: 15px;
	line-height: 21px;
	color: #000;
	letter-spacing: -.17px;
	font-weight: 900
}

#NewArrivals .list .rightBtn {
	position: absolute;
	right: 0px;
}

/* product */
#product {
	position: relative;
	width: 980px;
	top: 90px;
	background: #eee;
	padding: 10px;
}

#product li {
	background: #fff;
	height: 44px;
	padding: 7px;
	width: 192px;
	display: flex;
	margin-right: 4px;
	margin-top: 4px;
	align-items: center;
	border-radius: 0;
}

#product li:last-child {
	margin-right: 0;
}

#product li img {
	margin-top: 10px;
	width: 30px;
	margin-right: 40px;


}

#product #product_garment {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#newItem {
	width: 1000px;
	position: relative;
	top: 70px;
	/* background: pink; */
}

#newItem_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#newItem_wrap li {
	/* background: red; */
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-bottom: 10px;
	width: 200px;
	height: 253px;

}

#newItem_wrap li img {
	width: 192px;
}

#newItem_wrap li span {
	position: relative;
	left: 1px;
	top: -2px;
	/* background: pink; */
}

/* footer */
.Nfooter {
	font-size: 12px;
	color: #ccc;
	margin: 0 auto;
	position: relative;
	top: 70px;
	background: #eee;
	width: 1000px;
	height: 16.8px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 30px;

}



/* 手动控制 */
#mainPage {
	/* display: none; */
}

#header01 {
	display: block;
}



/* login */
#loginBox {
	width: 1000px;
	height: 750px;
	background: #fff;
	/* margin: 0 auto; */
	position: absolute;
	/* top: 70px; */
	left: 0;
	right: 0;
	margin: auto;
	bottom: -756px;
	display: none;

}

#close {
	width: 44px;
	height: 44px;
	/* background: red; */

}

#close img {
	position: absolute;
	left: 16px;
	top: 12px;
}

#login_content input:focus {
	outline: none;
}


#login_content h1 {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 39px 36px 20px;
	font-size: 20px;
	color: #000;
	line-height: 28px;
	letter-spacing: .94px;
	font-weight: 900;
	/* background: pink; */
}

#login_content input {
	display: block;
	padding: 11px;
	background: #f2f2f2;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	border-radius: 22px;
	width: 920px;
	border: 0 solid rgba(0, 0, 0, 0);
	margin-bottom: 20px;
	margin-left: 20px;

}

#login_content #submitbtn {
	width: 970px;
	min-height: 44px;
	border: 0 solid rgba(0, 0, 0, 0);
	background: #7f0019;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	line-height: 22px;
	border-radius: 22px;
	cursor: pointer;
	display: block;
	padding: 0;
	margin-left: 20px;
}

#login_content img {
	display: block;
	position: absolute;
	left: 940px;
	top: 237px;
}

#login_content a {
	display: block;
	font-size: 13px;
	color: #60b3fa;
	line-height: 18px;
	letter-spacing: -.15px;
}

#login_pro {
	display: flex;
	width: 900px;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
	/* background: red; */
}

#login_service {
	position: fixed;
	bottom: 0;
	left: 38%;
	display: none;
}
