/* search */
#searchBox{
	display: none;
	width: 1000px;
	height: 2000px;
	/* position: relative; */
	background: #eee;
	margin: 0 auto;
	z-index: 99;
	
}
#searchBox #globalHeader{
	position: relative;
	/* display: none; */
}

/* #search{
	height: 0px;
	background: pink;
} */
#search_imput{
	height: 44px;
	display: flex;
	border-bottom: .5px solid #b2b2b2;
	background: #f9f9f9;
	justify-content: space-between;
	box-sizing: border-box;
	
	
}
#search_imput img{
	width: 44px;
	height: 42px;
	
}
#search_text{
	border: 0;
	width: 940px;
	background: #f2f2f2;
    font-size: 14px;
	padding: 8px;
	margin: 8px;
	/* z-index: 2; */
}
#recent{
	height: 120px;
    background: #eee;
    position: relative;
    width: 980px;
	padding-left: 20px;
	
}
#recent .h1Text{
	position: relative;
	/* background: red; */
	top: -40px;
}
#recent_a{
	display: flex;
	flex-wrap: wrap;
}
#recent a{
	/* display: inline-block; */
    padding: 7px 26px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: #fff;
    border-radius: 16px;
    font-size: 12px;
    color: #030303;
    line-height: 18px;
    letter-spacing: -.15px;
	position:relative;
	top: -20px;
	left: -10px;
	
}
#recent  h1 span a{
	color: #7f0019;
	background: none;
	font-size: 14px;
	/* background: red; */
	position: relative;
	top: 0px;

}

#hot #recent span a{
	color: #60b3fa;
}


